<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Clinic Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Clinic Management System</h1>
        <hr>
        <h2>Save Clinic</h2>

        <form action="#" th:action="@{/saveClinic}" th:object="${clinic}" method="POST">
        	<!--
			<input type="text" th:field="*{day}" placeholder="Day" class="form-control mb-4 col-4">
        	<input type="text" th:field="*{month}" placeholder="Month" class="form-control mb-4 col-4">
        	<input type="text" th:field="*{year}" placeholder="Year" class="form-control mb-4 col-4">
            <input type="text" th:field="*{capacity}" placeholder="100" class="form-control mb-4 col-4">
            -->
            <input type="text" th:field="*{dateStr}" placeholder="MMDDYYYY" class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2"> Save Clinic</button>
        </form>

        <hr>

        <a th:href="@{/}"> Return to Clinic Dashboard</a>
    </div>
</body>

</html>